.container{
    padding: 20px 20px;
}

.list{
    display: flex;
    gap: 18px;
    flex-wrap: wrap;
}

.item{
width: calc(100% - (18 * 3) / 4);
padding: 0 0 40px;
border: 1px solid #161827;
border-radius: 8px;
background-color: #b8c6fc;
transition: all 0.3s ease-in;
}

.item:hover {
    box-shadow: 0px 10px 20px -10px #3d3d3d;
    transform: scale(1.05);
    background-color: transparent;
  }